In [ ]:
import pandas as pd
data = pd.read_csv('ner_dataset.csv', encoding= 'unicode_escape')
data.head()

    Sentence #           Word  POS Tag
0  Sentence: 1      Thousands  NNS   O
1          NaN             of   IN   O
2          NaN  demonstrators  NNS   O
3          NaN           have  VBP   O
4          NaN        marched  VBN   O

In [ ]:
from itertools import chain
def get_dict_map(data, token_or_tag):
    tok2idx = {}
    idx2tok = {}
    
    if token_or_tag == 'token':
        vocab = list(set(data['Word'].to_list()))
    else:
        vocab = list(set(data['Tag'].to_list()))
    
    idx2tok = {idx:tok for  idx, tok in enumerate(vocab)}
    tok2idx = {tok:idx for  idx, tok in enumerate(vocab)}
    return tok2idx, idx2tok


token2idx, idx2token = get_dict_map(data, 'token')
tag2idx, idx2tag = get_dict_map(data, 'tag')

In [ ]:
data['Word_idx'] = data['Word'].map(token2idx)
data['Tag_idx'] = data['Tag'].map(tag2idx)
data.head()

    Sentence #           Word  POS Tag  Word_idx  Tag_idx
0  Sentence: 1      Thousands  NNS   O      9915       17
1          NaN             of   IN   O      1143       17
2          NaN  demonstrators  NNS   O      7963       17
3          NaN           have  VBP   O      3651       17
4          NaN        marched  VBN   O      3170       17

Transform columns to extract sequential data

In [ ]:
# Fill na
data_fillna = data.fillna(method='ffill', axis=0)
# Groupby and collect columns
data_group = data_fillna.groupby(
['Sentence #'],as_index=False
)['Word', 'POS', 'Tag', 'Word_idx', 'Tag_idx'].agg(lambda x: list(x))
# Visualise data
data_group.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

,Sentence #,Word,POS,Tag,Word_idx,Tag_idx
0,Sentence: 1,"[Thousands, of, demonstrators, have, marched, ...","[NNS, IN, NNS, VBP, VBN, IN, NNP, TO, VB, DT, ...","[O, O, O, O, O, O, B-geo, O, O, O, O, O, B-geo...","[9915, 1143, 7963, 3651, 3170, 7796, 5061, 326...","[17, 17, 17, 17, 17, 17, 12, 17, 17, 17, 17, 1..."
1,Sentence: 10,"[Iranian, officials, say, they, expect, to, ge...","[JJ, NNS, VBP, PRP, VBP, TO, VB, NN, TO, JJ, J...","[B-gpe, O, O, O, O, O, O, O, O, O, O, O, O, O,...","[470, 7736, 12146, 11667, 12640, 326, 12016, 6...","[7, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17..."
2,Sentence: 100,"[Helicopter, gunships, Saturday, pounded, mili...","[NN, NNS, NNP, VBD, JJ, NNS, IN, DT, NNP, JJ, ...","[O, O, B-tim, O, O, O, O, O, B-geo, O, O, O, O...","[7301, 12969, 5054, 4733, 12324, 12683, 863, 7...","[17, 17, 13, 17, 17, 17, 17, 17, 12, 17, 17, 1..."
3,Sentence: 1000,"[They, left, after, a, tense, hour-long, stand...","[PRP, VBD, IN, DT, NN, JJ, NN, IN, NN, NNS, .]","[O, O, O, O, O, O, O, O, O, O, O]","[10350, 6740, 10293, 3034, 12631, 5229, 9687, ...","[17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17]"
4,Sentence: 1001,"[The, global, financial, crisis, has, left, Ic...","[DT, JJ, JJ, NN, VBZ, VBN, NNP, POS, NN, IN, N...","[O, O, O, O, O, O, B-org, O, O, O, O, O]","[5897, 10934, 8272, 7570, 1770, 6740, 288, 518...","[17, 17, 17, 17, 17, 17, 10, 17, 17, 17, 17, 17]"

SPLITTING INTO TRAIN AND TEST

In [ ]:
from sklearn.model_selection import train_test_split
from keras_preprocessing.sequence import pad_sequences
from keras.utils import to_categorical

In [ ]:
def get_pad_train_test_val(data_group, data):

    #get max token and tag length
    n_token = len(list(set(data['Word'].to_list())))
    n_tag = len(list(set(data['Tag'].to_list())))

    #Pad tokens (X var)    
    tokens = data_group['Word_idx'].tolist()
    maxlen = max([len(s) for s in tokens])
    pad_tokens = pad_sequences(tokens, maxlen=maxlen, dtype='int32', padding='post', value= n_token - 1)

    #Pad Tags (y var) and convert it into one hot encoding
    tags = data_group['Tag_idx'].tolist()
    pad_tags = pad_sequences(tags, maxlen=maxlen, dtype='int32', padding='post', value= tag2idx["O"])
    n_tags = len(tag2idx)
    pad_tags = [to_categorical(i, num_classes=n_tags) for i in pad_tags]
    
    #Split train, test and validation set
    tokens_, test_tokens, tags_, test_tags = train_test_split(pad_tokens, pad_tags, test_size=0.1, train_size=0.9, random_state=2020)
    train_tokens, val_tokens, train_tags, val_tags = train_test_split(tokens_,tags_,test_size = 0.25,train_size =0.75, random_state=2020)

    print(
        'train_tokens length:', len(train_tokens),
        '\ntrain_tokens length:', len(train_tokens),
        '\ntest_tokens length:', len(test_tokens),
        '\ntest_tags:', len(test_tags),
        '\nval_tokens:', len(val_tokens),
        '\nval_tags:', len(val_tags),
    )
    
    return train_tokens, val_tokens, test_tokens, train_tags, val_tags, test_tags

train_tokens, val_tokens, test_tokens, train_tags, val_tags, test_tags = get_pad_train_test_val(data_group, data)

train_tokens length: 4462
train_tokens length: 4462
test_tokens length: 662
test_tags: 662
val_tokens: 1488
val_tags: 1488

 Build the model architecture

In [ ]:
import numpy as np
import tensorflow
from tensorflow.keras import Sequential, Model, Input
from tensorflow.keras.layers import LSTM, Embedding, Dense, TimeDistributed, Dropout, Bidirectional
from tensorflow.keras.utils import plot_model

In [ ]:
#Itâ€™s always best to set a seed for reproducibility.
from numpy.random import seed
seed(1)
tensorflow.random.set_seed(2)

In [ ]:
input_dim = len(list(set(data['Word'].to_list())))+1
output_dim = 64
input_length = max([len(s) for s in data_group['Word_idx'].tolist()])
n_tags = len(tag2idx)
print('input_dim: ', input_dim, '\noutput_dim: ', output_dim, '\ninput_length: ', input_length, '\nn_tags: ', n_tags)

input_dim:  13135
output_dim:  64
input_length:  70
n_tags:  18

In [ ]:
def get_bilstm_lstm_model():
    model = Sequential()

    # Add Embedding layer
    model.add(Embedding(input_dim=input_dim, output_dim=output_dim, input_length=input_length))

    # Add bidirectional LSTM
    model.add(Bidirectional(LSTM(units=output_dim, return_sequences=True, dropout=0.2, recurrent_dropout=0.2), merge_mode = 'concat'))

    # Add LSTM
    model.add(LSTM(units=output_dim, return_sequences=True, dropout=0.5, recurrent_dropout=0.5))

    # Add timeDistributed Layer
    model.add(TimeDistributed(Dense(n_tags, activation="relu")))

    #Optimiser 
    # adam = k.optimizers.Adam(lr=0.0005, beta_1=0.9, beta_2=0.999)

    # Compile model
    model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
    model.summary()
    
    return model

fit the model

In [ ]:
def train_model(X, y, model):
    loss = list()
    for i in range(25):
        # fit model for one epoch on this sequence
        hist = model.fit(X, y, batch_size=1000, verbose=1, epochs=1, validation_split=0.2)
        loss.append(hist.history['loss'][0])
    return loss

In [ ]:
results = pd.DataFrame()
model_bilstm_lstm = get_bilstm_lstm_model()
plot_model(model_bilstm_lstm)
results['with_add_lstm'] = train_model(train_tokens, np.array(train_tags), model_bilstm_lstm)

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding (Embedding)       (None, 70, 64)            840640

 bidirectional (Bidirectiona  (None, 70, 128)          66048
 l)

 lstm_1 (LSTM)               (None, 70, 64)            49408

 time_distributed (TimeDistr  (None, 70, 18)           1170
 ibuted)

=================================================================
Total params: 957,266
Trainable params: 957,266
Non-trainable params: 0
_________________________________________________________________
4/4 [==============================] - 36s 6s/step - loss: 4.8846 - accuracy: 0.6668 - val_loss: 0.9487 - val_accuracy: 0.9528
4/4 [==============================] - 16s 4s/step - loss: 0.8293 - accuracy: 0.9524 - val_loss: 0.5917 - val_accuracy: 0.9528
4/4 [==============================] - 16s 4s/step - loss: 0.5781 - accuracy: 0.9524 - val_loss: 0.5209 - val_accuracy: 0.9528
4/4 [==============================] - 16s 4s/step - loss: 0.5044 - accuracy: 0.9524 - val_loss: 0.4343 - val_accuracy: 0.9528
4/4 [==============================] - 16s 4s/step - loss: 0.4809 - accuracy: 0.9524 - val_loss: 0.4281 - val_accuracy: 0.9528
4/4 [==============================] - 16s 4s/step - loss: 0.4589 - accuracy: 0.9524 - val_loss: 0.4076 - val_accuracy: 0.9528
4/4 [==============================] - 16s 4s/step - loss: 0.5008 - accuracy: 0.9524 - val_loss: 0.5861 - val_accuracy: 0.9528
4/4 [==============================] - 16s 4s/step - loss: 0.6348 - accuracy: 0.9520 - val_loss: 0.6201 - val_accuracy: 0.9526
4/4 [==============================] - 16s 4s/step - loss: 0.6145 - accuracy: 0.9514 - val_loss: 0.5485 - val_accuracy: 0.9527
4/4 [==============================] - 16s 4s/step - loss: 0.5217 - accuracy: 0.9519 - val_loss: 0.4722 - val_accuracy: 0.9528
4/4 [==============================] - 15s 4s/step - loss: 0.4564 - accuracy: 0.9523 - val_loss: 0.4409 - val_accuracy: 0.9528
4/4 [==============================] - 16s 4s/step - loss: 0.4250 - accuracy: 0.9524 - val_loss: 0.4070 - val_accuracy: 0.9528
4/4 [==============================] - 15s 4s/step - loss: 0.4023 - accuracy: 0.9524 - val_loss: 0.3917 - val_accuracy: 0.9528
4/4 [==============================] - 15s 4s/step - loss: 0.4001 - accuracy: 0.9524 - val_loss: 0.3874 - val_accuracy: 0.9528
4/4 [==============================] - 15s 4s/step - loss: 0.3931 - accuracy: 0.9524 - val_loss: 0.3806 - val_accuracy: 0.9528
4/4 [==============================] - 16s 4s/step - loss: 0.3835 - accuracy: 0.9524 - val_loss: 0.3784 - val_accuracy: 0.9528
4/4 [==============================] - 15s 4s/step - loss: 0.3762 - accuracy: 0.9524 - val_loss: 0.3633 - val_accuracy: 0.9528
4/4 [==============================] - 15s 4s/step - loss: 0.3593 - accuracy: 0.9524 - val_loss: 0.3519 - val_accuracy: 0.9528
4/4 [==============================] - 15s 4s/step - loss: 0.3527 - accuracy: 0.9524 - val_loss: 0.3535 - val_accuracy: 0.9528
4/4 [==============================] - 16s 4s/step - loss: 0.3545 - accuracy: 0.9524 - val_loss: 0.3445 - val_accuracy: 0.9528
4/4 [==============================] - 15s 4s/step - loss: 0.3434 - accuracy: 0.9524 - val_loss: 0.3343 - val_accuracy: 0.9528
4/4 [==============================] - 15s 4s/step - loss: 0.3363 - accuracy: 0.9524 - val_loss: 0.3332 - val_accuracy: 0.9528
4/4 [==============================] - 15s 4s/step - loss: 0.3331 - accuracy: 0.9524 - val_loss: 0.3450 - val_accuracy: 0.9528
4/4 [==============================] - 15s 4s/step - loss: 0.3321 - accuracy: 0.9524 - val_loss: 0.3540 - val_accuracy: 0.9528
4/4 [==============================] - 15s 4s/step - loss: 0.3298 - accuracy: 0.9524 - val_loss: 0.3471 - val_accuracy: 0.9528